<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ title }}</title>
</head>
<body class="h-full">

    <div class="w-full h-screen flex flex-col items-center justify-center">
        
        {% include "html/svgs/500_img.html" %}

        <div class="flex flex-col items-center justify-center">
            <p class="text-3xl md:text-4xl lg:text-5xl text-gray-800 mt-12">Upsss...</p>
            <p class="md:text-lg lg:text-xl text-gray-600 mt-8">Coś poszło nie tak z naszym serwerem, przeładuj stronę lub wróć później.</p>
            <button onclick="goBack()" class="flex items-center space-x-2 bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 mt-12 rounded transition duration-150" title="Return Home">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
                <span>Odśwież stronę</span>
            </button>
        </div>
    </div>

    <script>

        function goBack() {
            window.history.back()
        }

    </script>

</body>
</html>