{% extends 'auth/base.html' %}
{% block content %}

<div class="flex min-h-[88vh] flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Welcome to Evently</h2>
        <p class="mb-3 text-gray-500 dark:text-gray-400 mt-5 text-center">Application built on python, flask, sqlalchemy, docker, docker-compose, tailwindcss, flowbite.</p>
    </div>
    

</div>

{% endblock content %}