{% extends 'admin/base.html' %}
{% block content %}

<div x-data="adminSection">

    <template x-if="!loaded">
        <div class="flex items-center justify-center align-center min-h-[95vh]">
            <div class="px-3 py-1 text-lg font-medium leading-none text-center text-blue-800 bg-blue-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200">loading...</div>
        </div>
    </template>

    <template x-if="loaded && users">
        <div>
            {% from 'jinja/modals.jinja' import addEventModal, signUpForEventModal, editEventModal %}
            <div class="flex flex-wrap flex-row justify-evenly py-12 gap-x-4 gap-4 grid-x-3">

                <!-- Users table -->
                <div class="relative overflow-x-auto">
                    <h1 class="font-semibold text-lg">Users</h1>
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border-2 shadow">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">Email</th>
                                <th scope="col" class="px-6 py-3">Vegetarian</th>
                                <th scope="col" class="px-6 py-3">Admin</th>
                                <th scope="col" class="px-6 py-3">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template x-for="user in users">
                                <tr class="border-b dark:bg-gray-800 dark:border-gray-700" :class="user.is_admin ? 'bg-green-100' : 'bg-white'">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" x-text="user.email"></th>
                                    <td class="px-6 py-4" x-text="user.is_vege ? 'YES' : 'NO'"></td>
                                    <td class="px-6 py-4" x-text="user.is_admin ? 'YES' : 'NO'"></td>
                                    <td class="px-6 py-4">
                                        <button type="button" class="text-blue-500 hover:text-blue-700 mr-3" @click="modifyUser(user)">Modify</button>
                                        <button type="button" class="text-red-500 hover:text-red-700" @click="removeUser(user.id)">Remove</button>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>

                <!-- Events table -->
                <div class="relative overflow-x-auto">
                    <h1 class="font-semibold text-lg">Events</h1>
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border-2 shadow">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">Name</th>
                                <th scope="col" class="px-6 py-3">Author</th>
                                <th scope="col" class="px-6 py-3">Date from</th>
                                <th scope="col" class="px-6 py-3">Date to</th>
                                <th scope="col" class="px-6 py-3">Participants</th>
                                <th scope="col" class="px-6 py-3">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template x-for="event in events">
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" 
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white" 
                                        x-text="event.name">
                                    </th>
                                    <td class="px-6 py-4" x-text="event.author.email"></td>
                                    <td class="px-6 py-4" x-text="displayDate(event.date_from)"></td>
                                    <td class="px-6 py-4" x-text="displayDate(event.date_to)"></td>
                                    <td class="px-6 py-4" x-text="event.atendee_list.length"></td>
                                    <td class="px-6 py-4">
                                        <button type="button" class="text-blue-500 hover:text-blue-700 mr-3" @click="openEditEventModal(event)">Modify</button>
                                        <button type="button" class="text-red-500 hover:text-red-700" @click="removeEvent(event.id)">Remove</button>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
            
            {{ editEventModal() }}
        </div>
        {{ settingsModal() }}
    </template>
</div>

<script>

    document.addEventListener('alpine:init', () => {
        Alpine.data('adminSection', () => ({

            userId: `{{ session['user_id'] }}`,
            users: null,
            events: null,
            currEvent: null,
            user: null,
            loaded: false,
            userRequest: {},
            editEventRequest: {},
            showSettingsModal: false, 
            showEditEventModal: false, 

            init() {
                this.$nextTick(async () => { 
                    await this.getUsers()
                    await this.getEvents()
                    setTimeout(() => this.loaded = true, 1000)
                })
                this.$watch('loaded', () => { 
                    this.userRequest = {id: null, email: null, is_vege: null, is_admin: false} 
                })
             },

             // Users

            async getUsers() {
                const resp = await fetch('/auth/users')
                const data = await resp.json()
                this.users = data
            },
            async changeUsersData() {
                const resp = await fetch(`/auth/user/${this.userRequest.id}`, {
                    method: 'PATCH',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(this.userRequest)
                })
                const data = await resp.json()
                if (resp.ok) {  
                    await this.getUsers()
                    this.user = this.userRequest
                }
                showAlert(resp, data)
            },
            modifyUser(user) {
                this.user = user
                this.userRequest = {id: this.user.id, email: this.user.email, is_vege: this.user.is_vege, is_admin: this.user.is_admin}
                this.showSettingsModal = true
            },
            async deleteUser() {
                const swalWithTailwindButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'bg-green-500 text-white hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none focus:ring-green-800',
                        cancelButton: 'bg-red-500 text-white hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none focus:ring-red-800'
                    },
                    buttonsStyling: false
                });
            
                swalWithTailwindButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then(async (result) => {
                    if (result.isConfirmed) {
                        const resp = await fetch(`/auth/user/${this.userId}`, {method: 'DELETE'})
                        const data = await resp.json()
                        showAlert(resp, data)
                        location.reload()
                    }
                });
            },
            closeSettingsModal() {
                this.showSettingsModal = false
                this.userRequest = {id: null, email: null, is_vege: null, is_admin: false}
            },
            async removeUser() {
                const swalWithTailwindButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'bg-green-500 text-white hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none focus:ring-green-800',
                        cancelButton: 'bg-red-500 text-white hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none focus:ring-red-800'
                    },
                    buttonsStyling: false
                });
                swalWithTailwindButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then(async (result) => {
                    if (result.isConfirmed) {
                        const resp = await fetch(`/user/${this.userId}`, {method: 'DELETE'})
                        const data = await resp.json()
                        if (resp.ok) {
                            await this.getUsers()
                        }
                        showAlert(resp, data)
                    }
                });
            },

            // Events
            async getEvents() {
                const resp = await fetch('/events/all')
                const data = await resp.json()
                this.events = data
            },
            displayDate(dateTimeString) {
                const date = new Date(dateTimeString);
                const options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };
                return date.toLocaleDateString('en-GB', options);
            },
            openEditEventModal(event) {
                this.currEvent = event
                this.editEventRequest.name = event.name
                this.editEventRequest.date_from = new Date(event.date_from).toISOString().substring(0, 10);
                this.editEventRequest.date_to = new Date(event.date_to).toISOString().substring(0, 10);
                this.showEditEventModal = true
            },
            async updateEvent() {
                const resp = await fetch(`/events/${this.currEvent.id}`, {
                    method: 'PATCH',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(this.editEventRequest)
                })
                const data = await resp.json()
                if (resp.ok) { 
                    this.getEvents() 
                    this.showEditEventModal = false
                }
                showAlert(resp, data)
            },
            async removeEvent(eventId) {
                const swalWithTailwindButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'bg-green-500 text-white hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none focus:ring-green-800',
                        cancelButton: 'bg-red-500 text-white hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none focus:ring-red-800'
                    },
                    buttonsStyling: false
                });
                swalWithTailwindButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then(async (result) => {
                    if (result.isConfirmed) {
                        const resp = await fetch(`/events/${eventId}`, { method: 'DELETE' })
                        const data = await resp.json()
                        if (resp.ok) {
                            this.getEvents()
                        }
                        showAlert(resp, data)
                    }
                });
                
            },
        }))
    })


</script>

{% endblock content %}